*{
    margin: 0;
    padding: 0;
}

header{
    background: #000;
    color: white;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
}
.logo h1{
font-family: sans-serif;
color: yellow;
font-size: 2.5rem;
margin:right 30px;
}
.lists, ul, li{
    display: flex;
    gap: 20px;
}
.lists, ul, li, a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
}
.lists, ul, li, a:hover{
    color: yellow;
} 

.icon{
    color: white;
    font-size: 1.2rem;
    display: none;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: burlywood;
}

.child-1 img{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    margin-top: 20px;
    margin-left: 70px;
}
.child-2{
margin-top: 50px;
padding-left: 100px;
}
.footer {
    background-color: #070404;
    color: #fff;
    padding: 20px 0;
}

.footer-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
 }

@media (max-width: 600px) {
    .lists{
        display: none;
    }
    .icon{
        display: block;
        color: yellow;
        font-size: 2rem;
    }
}